@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

.Frame1{
    width: 90rem;
    height: 50rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url("../../../Images/frame1.png"), lightgray 0px 121.2px / 100% 119.7% no-repeat;
    overflow-x: hidden;
}

.Frame1 .Nav{
    width: 90rem;
    height: 6.96594rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.Frame1 .Nav .logo{
    display: flex;
    flex-direction: row;
}

.Nav .logo img{
    width: 3.42081rem;
    height: 3.375rem;
    margin-top: 1.69rem;
    position: relative;
    left: -3.4rem;
    margin-left: 2rem;
}

 .navGreyBox{
    width: 6.96381rem;
    height: 6.96594rem;
    flex-shrink: 0;
    position: relative;
    background: linear-gradient(to bottom, rgba(31, 31, 31, 0), rgb(32, 32, 32));
    left: 7rem;
   
}

.Nav .logo p{
    color: #FFF;
    font-size: 1rem;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 2.70rem;
    margin-left: 1rem;
    position: absolute;
    top: 0.3rem;
    left: 8.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Nav .NavSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 14.57rem;
    margin-top: 1.8rem;
    gap: 1.5rem;
    color: #FFFFFF1A;
    width: 27.3125rem;
    height: 3.75rem;
    flex-shrink: 0; 
    border-radius: 2.5rem;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(19.866666793823242px);
    padding: 1.02rem;
    margin-left: 20rem;
}

.Nav .NavSection p{
    color: #FFF;
    font-size: 1rem;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 100;
    line-height: 0.72963rem;
    letter-spacing: -0.02rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.Nav .NavSection .chevronDown img{
    position: absolute;
    left: 13rem;
}

.Nav .navEndd{
    display: inline-flex;
    height: 2.1875rem;
    padding: 0.75rem 1.5rem 0.6875rem 1.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #FFF;
    margin-top: 2.70rem;
    margin-left: 18rem;
    position: absolute;
    top: 0.3rem;
    left: 58rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Nav .navEnd p{
    color: #000;
    font-size: 1rem;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 600;
    line-height: 0.72963rem;
    letter-spacing: -0.02rem;
}
.navGreyBoxend{
    width: 6.96381rem;
    height: 6.96594rem;
    flex-shrink: 0;
    position: relative;
    background: linear-gradient(to bottom, rgba(58, 58, 58, 0), rgb(32, 32, 32));
    left: 16rem;
}
.navGreyBoxnxtFrame{
    width: 6.96381rem;
    height: 6.96594rem;
    flex-shrink: 0;
    position: relative;
    background: linear-gradient(to bottom, rgba(31, 31, 31, 0), rgb(32, 32, 32));
}

.navGreyBoxnxtinFrame{
    width: 6.96381rem;
    height: 6.96594rem;
    flex-shrink: 0;
    position: relative;
    background: linear-gradient(to bottom, rgba(31, 31, 31, 0), rgb(32, 32, 32));
    left: 82.8rem;
}

.frameone{
    display: flex;
    width: 72.6875rem;
    flex-direction: column;
    margin-left: 11rem;
}

.frameone .frameheadingone p{
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.frameone .frameheadingtwo p{
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 400;
    line-height: 133.523%;  
    margin-top: 1rem;
    margin-left: -2rem;
}

.frameone .eclipse img{
    width: 4.25rem;
    height: 4.25rem;
    flex-shrink: 0;
    border-radius: 4.25rem;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(13.600000381469727px);
    margin-left: 33rem;
    margin-top: 2rem;
}

.frameone .arrowDown img{
    width: 2.1875rem;
    height: 2.1875rem;
    flex-shrink: 0;
    margin-left: 34.1rem;
    position: relative;
    top: -3.3rem;
    cursor: pointer;
}

.breakone{
    padding: 1.6rem;
}

.frametwo p{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 400;
    line-height: 133.523%;
    margin-left: 2rem;
}

.Tefal{
    display: flex;
    gap: 5rem;
    margin-left: 9rem;
    margin-top: 1.6rem;
}